<div>
  <span>What have to you do?</span>
  <span>You have to do {{this.numberOfThings2}} things</span>
  <div class="search">
    <Input
      @value={{this.query}}
      class="light"
      maxlength="250"
      {{on "keydown" this.enter}}
    />
    <button {{on "click" this.createThing}} type="button">submit</button>

  </div>

</div>

<div class="block">
  {{#each this.myTrackedArray as |thing|}}
    {{log thing}}
    <ButtonThing @thing={{thing}} @onDoThing={{this.toggleThing}} />
  {{/each}}
</div>
<div class="blockH">
  <button type="button" class="buttonT" {{on "click" this.removeAll}}>Delete All</button>
  <button
    type="button"
    class="buttonT"
    {{on "click" this.fillTrackedArray}}
  >vamo a verlo</button>

</div>